#title p, #search, Button {
  display: inline-block;
}

#title #search {
  float: right;
  width: 20%;
}

#title Button {
  float: right;
  margin-left: 4px;
}

#people-list {
  max-height: 300px;
  overflow-y: scroll;
}

.person input {
  margin-right: 8px;
}

.person Button {
  float: right;
  margin-left: 4px;
}
