#title p {
  display: inline-block;
}

#title #search {
  float: right;
  width: 40%;
}

#title Button {
  float: right;
  margin-left: 4px;
}

#filters {
  margin-bottom: 8px;
}

#filters .filter {
  margin-left: 4px;
}

#people-list {
  max-height: 400px;
  overflow-y: scroll;
}

#people-list .list-group-item {
  display: table;
  vertical-align: middle;
}

.person {
  text-align: center;
}

.person .left-button {
  float: left;
  margin-right: 4px;
}

.person .right-button {
  float: right;
  margin-left: 4px;
}

